.advatages {
    padding-top: 120px;
    padding-bottom: 120px;
}

.advatages-container{
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 8px;
}

.advatages-icon {
    fill: #2e2f42;

    width: 64px;
    height: 64px;


}
.advatages-list {
    display: flex;
    align-items: center;
    gap: 24px;
}
.advatages-item {
    width: calc((100% - 3 * 24px) / 4);
}

.advatages-title-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;

    margin-bottom:  8px;
}
.advatages-text {
    font-size:  16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}